// reaction
@use "heart.scss";
@use "star.scss";
@use "like.scss";

// sns
@use "twitter.scss";
@use "facebook.scss";
@use "github.scss";
@use "youtube.scss";
@use "google.scss";
@use "medium.scss";
@use "twitch.scss";
@use "reddit.scss";
@use "whatsapp.scss";
@use "gmail.scss";
@use "linkedin.scss";
@use "instagram.scss";

// others
@use "close.scss";
@use "trophy.scss";
@use "coin.scss";
@use "../utilities/icon-mixin";

.nes-icon {
  $default-size: 1px;
  $icon-size: $default-size * 16;

  position: relative;
  display: inline-block;
  width: $icon-size;
  height: $icon-size;
  margin-right: $icon-size;
  margin-bottom: $icon-size;

  // NOTE: Use `transform: scale()` because cannot use font-size less than 10px on Chrome
  // default 2px
  transform: scale(2);
  transform-origin: top left;

  &.is-small {
    margin: 0;
    // 1px
    transform: scale(1);
  }

  &.is-medium {
    margin-right: $icon-size * 2;
    margin-bottom: $icon-size * 2;
    // 3px
    transform: scale(3);
  }

  &.is-large {
    margin-right: $icon-size * 3;
    margin-bottom: $icon-size * 3;
    // 4px
    transform: scale(4);
  }

  &::before {
    position: absolute;
    top: $default-size * -1;
    left: $default-size * -1;
    display: block;
    content: "";
    background: transparent;
  }

  &.heart::before {
    @include icon-mixin.pixelize($default-size, heart.$icon-heart, heart.$icon-heart-colors);
  }
  &.heart.is-half::before {
    @include icon-mixin.pixelize($default-size, heart.$icon-heart-half, heart.$icon-heart-colors);
  }
  &.heart.is-transparent::before {
    @include icon-mixin.pixelize($default-size, heart.$icon-heart-transparent, heart.$icon-heart-colors);
  }
  &.heart.is-empty::before {
    @include icon-mixin.pixelize($default-size, heart.$icon-heart-empty, heart.$icon-heart-empty-colors);
  }

  &.star::before {
    @include icon-mixin.pixelize($default-size, star.$icon-star, star.$icon-star-colors);
  }
  &.star.is-empty::before {
    @include icon-mixin.pixelize($default-size, star.$icon-star-empty, star.$icon-star-empty-colors);
  }
  &.star.is-half::before {
    @include icon-mixin.pixelize($default-size, star.$icon-star-half, star.$icon-star-colors);
  }
  &.star.is-transparent::before {
    @include icon-mixin.pixelize($default-size, star.$icon-star-transparent, star.$icon-star-colors);
  }

  &.trophy::before {
    @include icon-mixin.pixelize($default-size, trophy.$icon-trophy, trophy.$icon-trophy-colors);
  }
  &.trophy.is-empty::before {
    @include icon-mixin.pixelize($default-size, trophy.$icon-trophy-empty, trophy.$icon-trophy-empty-colors);
  }

  &.like::before {
    @include icon-mixin.pixelize($default-size, like.$icon-like, like.$icon-like-colors);
  }
  &.like.is-empty::before {
    @include icon-mixin.pixelize($default-size, like.$icon-like-empty, like.$icon-like-empty-colors);
  }

  &.twitter::before {
    @include icon-mixin.pixelize($default-size, twitter.$icon-twitter, twitter.$icon-twitter-colors);
  }

  &.facebook::before {
    @include icon-mixin.pixelize($default-size, facebook.$icon-facebook, facebook.$icon-facebook-colors);
  }

  &.github::before {
    @include icon-mixin.pixelize($default-size, github.$icon-github, github.$icon-github-colors);
  }

  &.youtube::before {
    @include icon-mixin.pixelize($default-size, youtube.$icon-youtube, youtube.$icon-youtube-colors);
  }

  &.close::before {
    @include icon-mixin.pixelize($default-size, close.$icon-close, close.$icon-close-colors);
  }

  &.google::before {
    @include icon-mixin.pixelize($default-size, google.$icon-google, google.$icon-google-colors);
  }

  &.medium::before {
    @include icon-mixin.pixelize($default-size, medium.$icon-medium, medium.$icon-medium-colors);
  }

  &.twitch::before {
    @include icon-mixin.pixelize($default-size, twitch.$icon-twitch, twitch.$icon-twitch-colors);
  }

  &.reddit::before {
    @include icon-mixin.pixelize($default-size, reddit.$icon-reddit, reddit.$icon-reddit-colors);
  }

  &.whatsapp::before {
    @include icon-mixin.pixelize($default-size, whatsapp.$icon-whatsapp, whatsapp.$icon-whatsapp-colors);
  }

  &.gmail::before {
    @include icon-mixin.pixelize($default-size, gmail.$icon-gmail, gmail.$icon-gmail-colors);
  }

  &.linkedin::before {
    @include icon-mixin.pixelize($default-size, linkedin.$icon-linkedin, linkedin.$icon-linkedin-colors);
  }

  &.instagram::before {
    @include icon-mixin.pixelize($default-size, instagram.$icon-instagram, instagram.$icon-instagram-colors);
  }

  &.coin::before {
    @include icon-mixin.pixelize($default-size, coin.$icon-coin, coin.$icon-coin-colors);
  }
}
