@use "../base/variables";
@use "../utilities/rounded-corners-mixin";

.nes-dialog {
  padding: 1.5rem 2rem;
  border-width: variables.$border-size;

  > .backdrop,
  &::backdrop {
    background-color: rgba(0, 0, 0, 0.3);
  }

  > :last-child {
    margin-bottom: 0;
  }

  &.is-rounded {
    @include rounded-corners-mixin.rounded-corners();

    &.is-dark {
      @include rounded-corners-mixin.rounded-corners(true);
    }
  }
  &.is-dark {
    color: variables.$background-color;
    background-color: variables.$base-color;
    border-color: variables.$background-color;

    &:not(.is-rounded)::before {
      position: absolute;
      top: -(variables.$border-size) * 2;
      right: -(variables.$border-size) * 2;
      bottom: -(variables.$border-size) * 2;
      left: -(variables.$border-size) * 2;
      z-index: -1;
      content: "";
      border: variables.$border-size solid variables.$base-color;
    }
  }
}
