@use "sass:map";
@use "../base/variables";

.nes-text {
  &.is-primary {
    color: map.get(variables.$primary-colors, "normal");
  }

  &.is-success {
    color: map.get(variables.$success-colors, "normal");
  }

  &.is-warning {
    color: map.get(variables.$warning-colors, "normal");
  }

  &.is-error {
    color: map.get(variables.$error-colors, "normal");
  }

  &.is-disabled {
    color: map.get(variables.$disabled-colors, "normal");
  }
}
