@use "sass:list";
@use "sass:map";
@use "../base/variables";
@use "../utilities/icon-mixin";
@use "../utilities/rounded-corners-mixin";

.nes-select {
  // prettier-ignore
  $dropdown: (
    (1,1,1,1,1,1,1),
    (1,1,1,1,1,1,1),
    (0,1,1,1,1,1,0),
    (0,1,1,1,1,1,0),
    (0,0,1,1,1,0,0),
    (0,0,0,1,0,0,0),
  );
  $colors: (variables.$base-color, map.get(variables.$default-colors, "shadow"));

  position: relative;
  width: calc(100% - #{2 * variables.$border-size});
  margin: 4px;

  select {
    @include rounded-corners-mixin.compact-rounded-corners();

    width: 100%;
    padding: 0.5rem 2.5rem 0.5rem 1rem;
    cursor: variables.$cursor-click-url, pointer;
    border-radius: 0;
    outline-color: map.get(variables.$default-colors, "hover");
    -webkit-appearance: none;
    appearance: none;

    &:invalid {
      color: map.get(variables.$disabled-colors, shadow);
    }
  }

  &.is-dark select {
    color: variables.$background-color;
    background-color: variables.$base-color;
  }

  &::after {
    @include icon-mixin.pixelize(3px, $dropdown, $colors);

    position: absolute;
    top: calc(50% - 11px);
    right: 36px;
    pointer-events: none;
    content: "";
  }

  // prettier-ignore
  $types:
    "dark" map.get(variables.$default-colors, "normal") map.get(variables.$default-colors, "hover"),
    "success" map.get(variables.$success-colors, "normal") map.get(variables.$success-colors, "hover"),
    "warning" map.get(variables.$warning-colors, "normal") map.get(variables.$warning-colors, "hover"),
    "error" map.get(variables.$error-colors, "normal") map.get(variables.$error-colors, "hover"),
    "disable" map.get(variables.$disabled-colors, "normal") map.get(variables.$disabled-colors, "shadow");
  @each $type in $types {
    &.is-#{list.nth($type, 1)} {
      $color: list.nth($type, 2);

      &::after {
        color: $color;
      }

      select {
        @include rounded-corners-mixin.compact-border-image($color);

        outline-color: list.nth($type, 3);
      }
    }
  }
  &.is-disabled {
    @extend .is-disable;
    select {
      color: map.get(variables.$disabled-colors, "normal");
      cursor: not-allowed;
    }
  }
}
